<%- include('Layout/LayoutHeader.ejs') %>
<script src="/socket.io/socket.io.js"></script>
<script>
    //CLient
    
    const uic = "<%= uic %>"
    var socket = io();
    //message function
    //message sender
    const displayMessageSent = (_msg_) => {
        var li_content = `<li class="msg_sender">
                            <div class="_msg_rcv_com message_received_sender">
                                <p>${_msg_}</p>
                            </div>
                            <span class="message_received_time">${formatDate()}</span>
                          </li>`;
        document.getElementById("message_zone").innerHTML += li_content;                  
    }
    //end
    //message receiver
    const displayMessageReceived = (_msg_) => {
        var li_content = `<li class="msg_receive">
                            <div class="_msg_rcv_com message_received_">
                               <p>${_msg_}</p>
                            </div>
                            <span class="message_received_time">${formatDate()}</span>
                          </li>`;
        document.getElementById("message_zone").innerHTML += li_content;                   
    }
    //end
    //Date function
    const formatDate = () => {
        const date = new Date();
        return date.toLocaleString("en-US",{hour : "numeric",minute : "numeric",hour12:true});
    }
    //end
    const send = () =>{
        var text = document.getElementById("message").value;
        displayMessageSent(text);   
        socket.emit('chat message',text);
        document.getElementById("message").value = "";
    }
    const receive = (msg_received,sender_id) =>{
        //changer plutard en node element
        if(sender_id != socket.id){
            displayMessageReceived(msg_received);
        }
    }
    socket.on("chat message",receive);
    //
    //status function
    socket.on("__Status__",(_status)=>{
        updateStatus(_status);
    })
    const updateStatus = (_status) => {
        const status_constainer = document.getElementById("status");
        status_constainer.style.color = "#d46fe9";
        status_constainer.innerHTML= _status;
    }
    // socket.on("connect", updateStatus());
    //
    document.addEventListener("keydown",(e)=>{
        if(e.keyCode == 13){
            send();
        }
    });
</script>
<div class="container">
    <%- include("Fragment/Home/TopCorner.ejs") %>
    <div class="main_chat">
        <%- include("Fragment/Home/LeftCorner.ejs") %>
        <%- include("Fragment/Home/RightCorner.ejs") %>

    </div>
</div>
<%- include('Layout/LayoutFooter.ejs') %>