<%- include('Layout/LayoutHeader.ejs') %>
<script src="/socket.io/socket.io.js"></script>
<script>
    //CLient
    var socket = io();
    //message function
    const send = () =>{
        var text = document.getElementById("message").value;
        socket.emit('chat message',text);
        document.getElementById("message").value = "";
    }
    const receive = (msg) =>{
        //changer plutard en node element
        var li_content = `<li class="msg_sender">
                            <div class="_msg_rcv_com message_received_sender">
                                <p>${msg}</p>
                            </div>
                            <span class="message_received_time">3:25 PM</span>
                          </li>` ;

        document.getElementById("message_zone").innerHTML += li_content;
    }
    socket.on("chat message",receive)
    //
    //status function
    socket.on("__Status__",(_status)=>{
        updateStatus(_status);
    })
    const updateStatus = (_status) => {
        const status_constainer = document.getElementById("status");
        status_constainer.style.color = "#d46fe9";
        status_constainer.innerHTML= _status;
    }
    // socket.on("connect", updateStatus());
    //
    document.addEventListener("keydown",(e)=>{
        if(e.keyCode == 13){
            send();
        }
    });
</script>
<div class="container">
    <%- include("Fragment/Home/TopCorner.ejs") %>
    <div class="main_chat">
        <%- include("Fragment/Home/LeftCorner.ejs") %>
        <%- include("Fragment/Home/RightCorner.ejs") %>

    </div>
</div>
<%- include('Layout/LayoutFooter.ejs') %>