<%- include('Layout/LayoutHeader.ejs') %>
<script src="/socket.io/socket.io.js"></script>
<script>
    //CLient
    var socket = io();
    //message function
    const send = () =>{
        var text = document.getElementById("message").value;
        socket.emit('chat message',text);
    }
    const receive = (msg) =>{
        var li = document.createElement('li');
        li.innerText = msg;
        document.getElementById("message_zone").appendChild(li);
    }
    socket.on("chat message",receive)
    //
    //status function
    socket.on("connect", updateStatus());
    //
</script>
<div class="container">
    <%- include("Fragment/Home/TopCorner.ejs") %>
    <div class="main_chat">
        <%- include("Fragment/Home/LeftCorner.ejs") %>
        <%- include("Fragment/Home/RightCorner.ejs") %>

    </div>
</div>
<%- include('Layout/LayoutFooter.ejs') %>