<%- include('Layout/LayoutHeader.ejs') %>
<div class="container">
    <%- include("Fragment/Home/TopCorner.ejs") %>
    <div class="main_chat">
        <%- include("Fragment/Home/LeftCorner.ejs") %>
        <%- include("Fragment/Home/RightCorner.ejs") %>

    </div>
</div>
<%- include('Layout/LayoutFooter.ejs') %>